.thumbnail {
height: 180px; width: 180px; display: block;
}
#cards {
   font-size:40px;
  text-align:center;
  z-index: 99;
  margin-top:-50px;
  margin-right: 40px;
  cursor:pointer;
  border:solid; 
  height: 250px;
}
#cardc  {
  font-size:130px;
  text-align:center;
  z-index: 99;
      margin-top: 80px;
   
}

#num {
  margin-top:-310px;
  color:black;
  font-size:130px;
  text-align:center;
  margin-left: 10px;
  z-index: 99;
}


.cardii  {
  font-size:30px;
  text-align:center;
  z-index: 99;
 
  margin-right: 20px;
  
  
  width:60px;
  height: 90px;
  display:inline;
};

#ii, #hand{
  width:300px;
}

.cardh  {
  font-size:30px;
  text-align:center;
  z-index: 999;

  margin-right: 20px;
  cursor:pointer;
  border:solid;
  width:60px;
  display:inline-block;
};

  .navbar-nav {
       
      vertical-align: middle;
    width: 100%;
    text-align: center;
    > li {
      float: left;
      display: inline-block;
    }
  }

  .container {
     
  min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
       vertical-align: middle;
}
.qbtnred {
    font-size: 30px;
    color: red;
}
.qbtnblack {
    font-size: 30px;
    color: black;
}